<nav class="navbar">

    <!-- Logo -->

    <div class="logo">

        <span class="logo-icon">

            AI

        </span>

        <div class="logo-text">

            <h2>

                ResumeRankAI

            </h2>

            <p>

                AI Career Readiness Platform

            </p>

        </div>

    </div>

    <!-- Right Side -->

    <div class="nav-right">

        <!-- Theme Button -->

        <button
            class="theme-btn"
            id="themeToggle"
            title="Change Theme">

            🌙

        </button>

        <!-- Profile -->

        <div class="profile">

            <div class="profile-info">

                <span class="welcome-text">

                    Welcome,

                </span>

                <h4>

                    {{ user.name }}

                </h4>

                <small>

                    Future {{ user.career }} 🚀

                </small>

            </div>

            <div class="profile-circle">

                {{ user.name[0] }}

            </div>

        </div>

    </div>

</nav>