<aside class="sidebar">

    <div class="sidebar-header">

        <h3>

            Career Menu

        </h3>

    </div>

    <ul class="sidebar-menu">

        <li>

            <a href="#dashboard">

                🏠 Dashboard

            </a>

        </li>

        <li>

            <a href="#charts">

                📊 Analytics

            </a>

        </li>

        <li>

            <a href="#matched-skills">

                ✅ Matched Skills

            </a>

        </li>

        <li>

            <a href="#missing-skills">

                ❌ Missing Skills

            </a>

        </li>

        <li>

            <a href="#projects">

                🚀 Projects

            </a>

        </li>

        <li>

            <a href="#tools">

                🛠 Tools

            </a>

        </li>

        <li>

            <a href="#certifications">

                📜 Certifications

            </a>

        </li>

        <li>

            <a href="#salary">

                💰 Salary

            </a>

        </li>

    </ul>

</aside>